{% extends "base.html.twig" %}
{% block main %}
<h1 style="text-align: center;">削除しました。</h1>
{% endblock %}
{% block button %}{{ backLocation }}{% endblock %}
{% block buttonLogo %}{{ backLogo }}{% endblock %}
{% block buttonName %}{{ back }}{% endblock %}